@model Module

<form method="post" class="bg-light ">
    <div class="border p-3 mt-4 border-5 ">
        <div class="form-group row pb-2 text-dark">
            <h2 style="color: #6b9080; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Create Module</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        @* Code *@
        <div class="mb-2 row p-1 text-dark ">
            <label asp-for="Module_code" class="p-0"></label>
            <input asp-for="Module_code" class="form-control" />
            <span asp-validation-for="Module_code" class="text-danger"></span>
        </div>
        @* name *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Module_Name" class="p-0"></label>
            <input asp-for="Module_Name" class="form-control" />
            <span asp-validation-for="Module_Name" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>
        @* credits *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Num_credits" class="p-0"></label>
            <input asp-for="Num_credits" class="form-control" />
            <span asp-validation-for="Num_credits" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>
        @* classhoursperweek *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Class_hours_per_week" class="p-0"></label>
            <input asp-for="Class_hours_per_week" class="form-control" />
            <span asp-validation-for="Class_hours_per_week" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>
        @* weeksinsemester *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Num_weeks_in_semester" class="p-0"></label>
            <input asp-for="Num_weeks_in_semester" class="form-control" />
            <span asp-validation-for="Num_weeks_in_semester" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>
        @* semesterstart *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Semester_start_date" class="p-0"></label>
            <input asp-for="Semester_start_date" class="form-control" />
            <span asp-validation-for="Semester_start_date" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>
        @* studiedhours *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Studied_on_certin_date" class="p-0"></label>
            <input asp-for="Studied_on_certin_date" class="form-control" />
            <span asp-validation-for="Studied_on_certin_date" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>
        @* Date studied value *@
        <div class="mb-2 row p-1 text-dark">
            <label asp-for="Hours_Studied_On_CertinDate" class="p-0"></label>
            <input asp-for="Hours_Studied_On_CertinDate" class="form-control" />
            <span asp-validation-for="Hours_Studied_On_CertinDate" class="text-danger"></span> @* when an (validation)error happends RED-text appears benearth the input*@
        </div>

       
      

        


        <div class="row">
            <div class="col-6 col-mid-3 ">
                <button type="submit" class="btn btn-success form-control">Create</button>
            </div>
            <div class="col-6 col-mid-3">
                <a asp-controller="Module" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to Modules
                </a>
            </div>
        </div>
    </div>
</form>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}